name: Build and release
on:
  push:
    branches:
      - 'main'

jobs:
  unit-tests:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: './go.mod'

      - name: Lint
        run: |
          make lint

      - name: Test
        run: |
          make test

  build:
    runs-on: ubuntu-latest
    needs:
      - unit-tests
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: '0'

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@c90370b2958652d71c06a3484129a4d423a6d8a8 #v1.11.0
        with:
          token: ${{ github.token }}
          branch: main
          noVersionBumpBehavior: patch

      - name: Create tag
        run: git tag ${{ steps.semver.outputs.next }}

      - name: Push tag
        run: git push --tags

      - name: Release
        run: gh release create ${{ steps.semver.outputs.next }} --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}